/* Estilos para los inputs y el botón dentro del div con la clase 'agg' */
.agg{
  display: flex;
  justify-content: center;
}

.agg input {
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio interior alrededor del texto */
  margin-bottom: 30px; /* Espacio exterior arriba y abajo del input */
  height: 1em;
  background-color: black;
  color: #a7a7a7;
}

.agg button {
  border-radius: 20px; /* Bordes redondeados */
  padding: 10px 20px; /* Espacio interior alrededor del texto */
  margin-top: 0px; /* Espacio exterior arriba del botón */
  height: 3em;
  background-color: #df6b7e;
  color: white;
}

/* Estilos para el div con la clase 'edit' */
.edit {
    color: black;
    position: fixed; /* Posicionamiento fijo respecto a la ventana del navegador */
    top: 50%; /* Centrado verticalmente */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste para centrar exactamente en el medio */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
    padding: 20px; /* Espacio interior alrededor del contenido */
    border-radius: 10px; /* Bordes redondeados */
    z-index: 1000; /* Asegura que el div esté por encima de otros elementos */
  }
  
  /* Estilos para el h1, los inputs y el botón dentro del div con la clase 'edit' */
.edit h1 {
    text-align: center; /* Centrar el texto del h1 */
  }
  
  .edit input {
    display: block; /* Hacer que los inputs ocupen toda la línea */
    margin: 10px auto; /* Centrar los inputs horizontalmente y agregar espacio arriba y abajo */
  }
  
  .edit button {
    display: block; /* Hacer que el botón ocupe toda la línea */
    margin: 20px auto; /* Centrar el botón horizontalmente y agregar espacio arriba y abajo */
  }
  
/* Contenedor para las tarjetas */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  

/* Cada tarea es una tarjeta */
.tareas {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(211, 196, 196, 0.911);
    width: 180px; /* Ancho fijo */
    height: 300px; /* Alto fijo */
    transition: transform 0.3s ease-in-out;
  }

  .tareas:hover {
    transform: scale(1.05); /* Aplicamos un ligero zoom al pasar el mouse */
  }
  
  .divtitle {
    text-align: center;
    background-color: #df6b7e;
    word-wrap: break-word;
    height: 80px;
  }
  .divtitle h2{
    margin: 0;
    text-align: center;
  }
  
  .divdescription {
    background: linear-gradient(#4b4b4b, #333333);
    text-align: center;
    padding: 50px 0px;
    word-wrap: break-word;
    height: 100px;
    overflow: auto;
    border-radius: 0px 0px 10px 10px;
  }

  .divdescription::-webkit-scrollbar-track {
    background: #dddddd; /* Fondo gris para la pista de la barra de desplazamiento */
    border-radius: 5px;
  }

  .divdescription::-webkit-scrollbar-thumb {
    background: #333333; /* Barra de desplazamiento de color #333333 */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .botons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .delete {
    background-color: #FF6961;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    width: 5em;
    box-shadow: 0 5px 10px rgba(211, 196, 196, 0.911);
  }
  
  .editB {
    background-color: #327232;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 0px 0px 10px 10px;
    width: 5em;
    box-shadow: 0 5px 10px rgba(211, 196, 196, 0.911);
  }
  