<div *ngFor="let tarea of tareas; let i = index">
  <input
    type="checkbox"
    [checked]="tarea.completed"
    (change)="tarea.completed = !tarea.completed"
  />
  <p>{{ tarea.title }}</p>
  <p>{{ tarea.description }}</p>
  <button (click)="eliminarTarea(i)">Eliminar</button>
</div>

<input [value]="nuevaTarea.title || ''" (input)="updateNuevaTarea('title', $event)" placeholder="Título de la nueva tarea" />
<input [value]="nuevaTarea.description || ''" (input)="updateNuevaTarea('description', $event)" placeholder="Descripción de la nueva tarea" />
<button (click)="agregarTarea()">Agregar tarea</button>
